$orange:#f1b248;
$blue:#76c5f0;
$purple:#940790;

#fish
{
  background-image:url('/assets/design/goldfish_right.png');
  background-repeat: no-repeat;
  width: 122px;
  height: 94px;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(30deg);
  z-index: 1000;
}
body
{
}
a
{
  color: $purple;
  &:hover
  {
    color: $orange;
    text-decoration: none;
  }

}

#overlay-container
{
  display:none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  .overlay
  {
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    background-color: $blue;
    opacity: 0.5;
    z-index: 100;
  }
  .input-overlay
  {
    padding: 3em;
    position: fixed;
    opacity: 1;
    z-index: 102;
    background-color: white;
    color: black;

    -moz-border-radius: 25px;
    border-radius: 25px;

    -moz-box-shadow: 3px 3px 4px #f00;
    -webkit-box-shadow: 3px 3px 4px #f00;
    box-shadow: 3px 3px 4px #f00;

    .price
    {
      font-size: 80%;
    }
    .close
    {
      opacity: 1;
      text-align: right;
    }
  }
}

.container
{
}

.shorter-span
{
  height: 200px;
}
.header-border
{
  background-image: url('/assets/design/top_border.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 200px;
  top: -165px;
  left: -10px;
  position: relative;
  //position:absolute;
  z-index: 20;
  //top: 0;
  .right
  {
    //float:right;
    position: relative;
    top: 40px;
    left: -80px;
    .cart
    {
      text-align:center;
      font-weight: bold;
      position: relative;
      top: -20px;
      margin-bottom: -20px;
      font-size: 300%;      
    }
    form
    {
      margin: 0em;
    }
    .search, .basic-search
    {
      //position: relative;
      //z-index: 10;
      .options
      {
        text-align:right;

        .link
        {
          float:left;
        }
      }
    }
  }

  .title
  {
    font-size: 900%;
    font-weight: bold;
    float: left;
    line-height: 0em;
    font-family:Impact, Charcoal, sans-serif;
    position: relative;
    top: 93px;
    left: 38px;
    a
    {
      color: black;
      text-decoration:none;
      &:hover
      {
        text-decoration: none;
      }
    }
  }

  .cat
  {
    width:11%;
    height:42%;
    background-image: url('/assets/design/cat_sleep.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 100%;
    position: relative;
    top: 87px;
    left: 453px;
    float:left;
  }
}

.header
{
  background-color: $blue;
  position: relative;
  padding: 1em;
  padding-top: 3em;
  z-index: 1;
  height: 105px;

}
.product-show
{
  .attribute
  {
    margin-top:1em;

    .field
    {
      border-bottom: 1px solid #AAAAAA;
      color: #333333;
      font-weight: bold;
      font-size: 1.3em;
    }

    .value
    {
      font-size: 1.2em;
      line-height: 1em;
    }
  }
  .link
  {
    margin-top:1em;
  }

}
.sidebar
{
  float: left;
  width: 15%;
  border-right: solid 1px black;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 0.2em;
  padding-right: 1em;
  position: relative;
  margin-bottom: -200px;
  .monkey
  {
    width:100%;
    height:200px;
    background-image: url('/assets/design/monkey.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: -76px;
    left: -119px;
    float:left;
    z-index:30;
  }

  ul
  {
    list-style-type: none;
    li
    {
      margin-top: 1em;
    }
  }
  a
  {
    font-size: 150%;
    //background-color: $blue;
    background: rgba(118, 197, 240, 0.9);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 3px;
  }


}
.main
{
  float: right;
  width: 77%;
  margin-bottom: -100px;
  padding-bottom:2em;
  margin-left:0px;
  padding-left:2em;
  padding-right: 2em;
  padding-bottom: 170px;
  margin-bottom: -301px;
  background-image: url('/assets/design/marble.png');
}
.middle
{
  background-image: url('/assets/design/leopard.png');
  margin-bottom: -100px;
  margin-right: -2px;
  margin-left: 7px;
  padding-bottom: 170px;
}
.upfix
{
  position:relative;
  top:-100px;
}
.padding
{
  padding-top:100px;
}
.margin
{
  margin-top:-100px;
}
//Footer
.footer
{
  text-align: center;
  background: $blue;
  height: 158px;
  padding-top: 40px;
  margin-top: 70px;
  ul
  {
    list-style-type: none;
  }
}
.footer-border
{
  background-image: url('/assets/design/bottom_border.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 215px;
  top: -215px;
  left: -20px;
  position: relative;
  //position:absolute;
  z-index: 20;
  .cat
  {
    width:18%;
    height:67%;
    background-image: url('/assets/design/cat_sleep.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 100%;
    position: relative;
    float:left;
    top: -95px;
    left: 787px;
  }
} 
.wide
{
  width: 100%;
}

.product-listing
{
  border: 1px solid black;
  margin-top: 1em;
  padding: 0.5em;
  .price
  {
    font-size: 3em;
    float:left;
    line-height: 1em;
  }
  .name
  {
    font-size: 0.7em;
  }
  .links
  {
    clear:both;
    text-align:right;
  }
  .picture
  {
    float:left;
  }
}

// IN THE FORM PARTIAL _form.rb in products views
.option-add
{
 float: right;
 position: relative;
 top: -290px;
}

.actions
{
}


///////////////////////////////////////////////////////////
//// HOMEPAGE
//////////////////////////////////////////////////////////
$width: 170px;
.products-display
{
  position: relative;
  .product
  {
    position: relative;
    width: 0px;
    opacity: 0;
    text-align: center;
    .photo
    {
    }

    .name
    {
    }

    .price
    {
    }
  }
}

////////////////////////////////////////////////////////////
////  CART VIEW
////////////////////////////////////////////////////////////
.important
{
  font-weight: bold;
  font-size: 200%;
  text-align:center;
}
.cart-table
{
  background-color: white;
  text-align: center;
  .label
  {
    background: none;
    color: black;
    font-weight: bold;
    font-size: 240%;
    line-height:1em;
    text-align:center;
  }
  .input
  {
    width: 2em;
  }
  .name
  {
    font-weight:bold;

    .option
    {
      font-weight: normal;
    }
  }

  td
  {
    padding:1em;
    border-top: 1px solid #DDDDDD; 
    border-bottom: 1px solid #DDDDDD; 
  }
}
