%h1
  Popular Products
.products-display.row
  -@products.each do |product|
    .product.span3
      .image
        = image_tag product.image.url(:thumbnail)
      .name
        = product.name
      .price
        = product.price

