%h1
  Popular Products
.products-display.rowi
  - i = 0
  -@products.each do |product|
    %a{:href => product_path(product)}
      .product.pull-left{:id => i += 1}
        .image
          = image_tag product.image.url(:thumbnail)
        .name
          = product.name
        .price
          = product.price

