.product-show
  .attribute#product
    .value
      %h1
        =@product.name

  .attribute#image
    .value
      - if @product.image?
        = image_tag @product.image.url(:display)
  .attribute#category
    .field
      Category:
    .value
      =@product.category
  .attribute#price
    .field
      Price:
    .value
      =@product.price

  .attribute#description
    .field
      Description
    .value
      =@product.description

  %h3 Associated Options
  .field#optionField
    - product_options = @product.options 
    - families = product_options.collect(&:family).uniq.sort
    - families.each do |family|
      .family{:id => family}
        %h4
          = family.capitalize
        - family_options = product_options.collect { |i| i if i.family == family }.compact
        = select('option', 'value', family_options.collect{ |option| [option.value, option.id] })
  .link
    %a{:href => edit_product_path(@product)} Edit Product
