.product-show
  .attribute
    .field
      Product
    .value
      =@product.name

  .attribute
    .field
      Price
    .value
      =@product.price

  .attribute
    .field
      Description
    .value
      =@product.description

  .attribute
    .field
      Image
    .value
      %img{:src => @product.image}
  %h2 Associated Options
  -@product.option_assignments.each do |oa|
    .attribute
      .field
        Option
      .value
        = oa.option.family + '  :  ' + oa.option.value


  .link
    %a{:href => edit_product_path(@product)} Edit Product
