.product-show
  .attribute
    .field 
      Product
    .value
      =@product.name

  .attribute
    .field 
      Price 
    .value
      =@product.price

  .attribute
    .field 
      Description
    .value
      =@product.description

  .attribute
    .field 
      Image 
    .value
      %img{:src => @product.image}
  %h2 Associated Options
  -@product.options.each do |option|
    .attribute
      .field
        Option
      .value
        = option.family + '  :  ' + option.value


  .link
    %a{:href => edit_product_path(@product)} Edit Product
