!!!5
%html
  %head
    %title Petstorish
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 

  %body
    .container
      .row
        .span12
          .header.clearfix
            .title
              =link_to 'Petstore...ish', products_path
            .cart
              %a{:href => '#'} Shopping Cart
      .row
        .span2.sidebar
          %ul
            -Product.categories.each do |cat|
              %li
                =link_to cat, '#'

        .span9.main
          = yield
